#wrapper
  #content
    %h2= @user.login.titleize
    %p= "User has created #{pluralize(@user.categories.count, 'category')} and #{pluralize(@user.facts.count, 'fact')}. Last login was #{distance_of_time_in_words(@user.last_login_at, Time.now)} ago."
