#wrapper
  #content
    %h2= @user.login.titleize
    #document
      %p
        = "User has created #{pluralize(@user.categories.count, 'category')} and #{pluralize(@user.facts.count, 'fact')}."
        - unless @user.last_login_at.nil?
          = "Last login was #{distance_of_time_in_words(@user.last_login_at, Time.now)} ago."
