%ul.form_inputs
  = semantic_form_for fact do |f|
    = f.inputs do
      - if !fact.category
        = f.input :category
      - else
        = f.input :category_id, :value => fact.category.id, :as => :hidden
      .fact_content
        = f.input :content, :hint => 'Fact body. Markdown content is accepted.', :input_html => { :class => 'informative' }

    .form_actions
      = f.submit 'Save'
