= semantic_form_for fact do |f|
  -if fact.errors.any?
    #errorExplanation
      %h2= "#{pluralize(fact.errors.count, "error")} prohibited this fact from being saved:"
      %ul
        - fact.errors.full_messages.each do |msg|
          %li= msg

  - if !fact.category
    = f.input :category
  - else
    = f.input :category_id, :value => fact.category.id, :as => :hidden
  .fact_content
    = f.input :content, :hint => 'Fact body. Markdown content is accepted.'

  .actions
    = f.submit 'Save'
