- content_for :title, 'Daily Facts'
#wrapper
  #content
    %h2 Daily Facts
    %ul.facts
      - @facts.each do |fact|
        %li.fact{ :id => fact.id }
          = raw(fact.content_html)
          .meta
            %span.age= raw "#{distance_of_time_in_words(fact.created_at, Time.now)} ago by #{link_to fact.category.user.login, fact.category.user} under #{link_to fact.category.name, fact.category}"
            = link_to "Permalink", fact, :class => [ :tool_permalink, :tool, :fact_tool ]
            .clear
