#wrapper
  #fact
    = raw @fact.content_html
    .meta
      %span.age= raw "#{distance_of_time_in_words(@fact.created_at, Time.now)} ago by #{link_to @fact.category.user.login, @fact.category.user} under #{link_to @fact.category.name, @fact.category}"
      .clear
