- if category.facts.count > 0
  %ul.facts
    - category.facts.each do |f|
      %li.fact{ :id => f.id }
        = raw(f.content_html)
        .meta
          %span.age= raw "#{distance_of_time_in_words(f.created_at, Time.now)} ago by #{link_to category.user.login, category.user}"
          = link_to "Permalink", f, :class => [ :tool_permalink, :tool, :fact_tool ]
          - if authorized?(f)
            %a.tool_delete.tool.fact_tool{ :href => 'javascript:' } Delete
          .clear
          %ul.delete.hide
          .clear
- if category.children.count > 0
  .categories_wrapper
    %ul.categories
      - category.children.each do |c|
        - classes = 'category'
        - classes += ' last' if c == category.children.last
        - classes += ' standin' if c.children.count > 0 || c.facts.count > 0
        / onclick is here only to provide a hint for Vimperator
        %li{ :id => c.id, :class => classes, :onclick => '' }
          %h3.standin_header= c.name
          .meta
            %span.count= count_str(c)
            = render :partial => 'tools', :locals => { :category => c }
          .content.hide
