- if category.facts.count > 0
  %ul.facts
    - category.facts.each do |f|
      %li.fact{ :id => f.id }
        = append_to_html raw(f.content_html), " #{link_to("Permalink", f, :class => [ :tool, :fact_tool ])}"
- if category.children.count > 0
  .categories_wrapper
    %ul.categories
      - category.children.each do |c|
        - classes = 'category'
        - classes += ' last' if c == category.children.last
        - classes += ' standin' if c.children.count > 0 || c.facts.count > 0
        %li{ :id => c.id, :class => classes }
          %h3.standin_header= c.name
          .meta
            %span.count= count_str(c)
            = render :partial => 'tools', :locals => { :category => c }
          .content
