= semantic_form_for @category do |f|
  -if @category.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - @category.errors.full_messages.each do |msg|
          %li= msg

  = f.input :name

  .actions
    = f.submit 'Save'
