#wrapper
  - if @category.ancestors.count > 0
    %p.ancestors= raw @category.ancestors.reverse.collect{ |c| link_to c.name, category_path(c) }.push('').join(' / ')
  %ul.categories#root
    %li.category.root_category.last
      %h2= @category.name
      .meta
        %span.count= count_str(@category)
        = render :partial => 'tools', :locals => { :category => @category, :can_hide => false }
      = render :partial => 'category', :locals => { :category => @category }
